*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(66, 61, 61);
    padding: 20px;
    color: whitesmoke;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin-right: 10px;
    padding-right: 15px;
    font-size: 18px;
}