*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(66, 61, 61);
    padding: 20px;
    color: whitesmoke;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 120px;
}
.item{
    margin-right: 10px;
    padding-right: 15px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: yellowgreen;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: floralwhite;
    align-items: center;
    /* border: 2px solid gray; */
    background-image: url("./image/img/background.png"),
    linear-gradient(45deg, rgb(31, 28, 28), rgba(34, 31, 31, 0.87));
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: floralwhite;

}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: floralwhite;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: floralwhite;
    border: none;
    border-radius: 5px;
}